<% content_for :title, "New company lead" %>

<h1>New company lead</h1>

<%= render "form", company_lead: @company_lead %>

<br>

<div>
  <%= link_to "Back to company leads", company_leads_path %>
</div>
