<% content_for :title, "Editing technician" %>

<h1>Editing technician</h1>

<%= render "form", technician: @technician %>

<br>

<div>
  <%= link_to "Show this technician", @technician %> |
  <%= link_to "Back to technicians", technicians_path %>
</div>
