<% content_for :title, "Editing general setting" %>

<h1>Editing general setting</h1>

<%= render "form", general_setting: @general_setting %>

<br>

<div>
  <%= link_to "Show this general setting", @general_setting %> |
  <%= link_to "Back to general settings", general_settings_path %>
</div>
