<% content_for :title, "Editing hotspot mpesa setting" %>

<h1>Editing hotspot mpesa setting</h1>

<%= render "form", hotspot_mpesa_setting: @hotspot_mpesa_setting %>

<br>

<div>
  <%= link_to "Show this hotspot mpesa setting", @hotspot_mpesa_setting %> |
  <%= link_to "Back to hotspot mpesa settings", hotspot_mpesa_settings_path %>
</div>
