<p style="color: green"><%= notice %></p>

<% content_for :title, "Hotspot mpesa settings" %>

<h1>Hotspot mpesa settings</h1>

<div id="hotspot_mpesa_settings">
  <% @hotspot_mpesa_settings.each do |hotspot_mpesa_setting| %>
    <%= render hotspot_mpesa_setting %>
    <p>
      <%= link_to "Show this hotspot mpesa setting", hotspot_mpesa_setting %>
    </p>
  <% end %>
</div>

<%= link_to "New hotspot mpesa setting", new_hotspot_mpesa_setting_path %>
