<% content_for :title, "New hotspot mpesa setting" %>

<h1>New hotspot mpesa setting</h1>

<%= render "form", hotspot_mpesa_setting: @hotspot_mpesa_setting %>

<br>

<div>
  <%= link_to "Back to hotspot mpesa settings", hotspot_mpesa_settings_path %>
</div>
