<h1>Editing subscriber setting</h1>

<%= render "form", subscriber_setting: @subscriber_setting %>

<br>

<div>
  <%= link_to "Show this subscriber setting", @subscriber_setting %> |
  <%= link_to "Back to subscriber settings", subscriber_settings_path %>
</div>
