<h1>Editing nas router</h1>

<%= render "form", nas_router: @nas_router %>

<br>

<div>
  <%= link_to "Show this nas router", @nas_router %> |
  <%= link_to "Back to nas routers", nas_routers_path %>
</div>
