<h1>Editing company setting</h1>

<%= render "form", company_setting: @company_setting %>

<br>

<div>
  <%= link_to "Show this company setting", @company_setting %> |
  <%= link_to "Back to company settings", company_settings_path %>
</div>
