<% content_for :title, "Editing subscriber transaction" %>

<h1>Editing subscriber transaction</h1>

<%= render "form", subscriber_transaction: @subscriber_transaction %>

<br>

<div>
  <%= link_to "Show this subscriber transaction", @subscriber_transaction %> |
  <%= link_to "Back to subscriber transactions", subscriber_transactions_path %>
</div>
