<p style="color: green"><%= notice %></p>

<% content_for :title, "Subscriber transactions" %>

<h1>Subscriber transactions</h1>

<div id="subscriber_transactions">
  <% @subscriber_transactions.each do |subscriber_transaction| %>
    <%= render subscriber_transaction %>
    <p>
      <%= link_to "Show this subscriber transaction", subscriber_transaction %>
    </p>
  <% end %>
</div>

<%= link_to "New subscriber transaction", new_subscriber_transaction_path %>
