<% content_for :title, "Editing license setting" %>

<h1>Editing license setting</h1>

<%= render "form", license_setting: @license_setting %>

<br>

<div>
  <%= link_to "Show this license setting", @license_setting %> |
  <%= link_to "Back to license settings", license_settings_path %>
</div>
