<% content_for :title, "New license setting" %>

<h1>New license setting</h1>

<%= render "form", license_setting: @license_setting %>

<br>

<div>
  <%= link_to "Back to license settings", license_settings_path %>
</div>
