<div id="<%= dom_id nas_setting %>">
  <p>
    <strong>Notification when unreachable:</strong>
    <%= nas_setting.notification_when_unreachable %>
  </p>

  <p>
    <strong>Unreachable duration minutes:</strong>
    <%= nas_setting.unreachable_duration_minutes %>
  </p>

  <p>
    <strong>Notification phone number:</strong>
    <%= nas_setting.notification_phone_number %>
  </p>

</div>
