<% content_for :title, "Editing nas setting" %>

<h1>Editing nas setting</h1>

<%= render "form", nas_setting: @nas_setting %>

<br>

<div>
  <%= link_to "Show this nas setting", @nas_setting %> |
  <%= link_to "Back to nas settings", nas_settings_path %>
</div>
