<div id="<%= dom_id customer_portal %>">
  <p>
    <strong>Username:</strong>
    <%= customer_portal.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= customer_portal.password %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= customer_portal.account_id %>
  </p>

</div>
