<div id="<%= dom_id hotspot_template %>">
  <p>
    <strong>Name:</strong>
    <%= hotspot_template.name %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= hotspot_template.account_id %>
  </p>

  <p>
    <strong>Preview image:</strong>
    <%= hotspot_template.preview_image %>
  </p>

</div>
