<% content_for :title, "Editing hotspot template" %>

<h1>Editing hotspot template</h1>

<%= render "form", hotspot_template: @hotspot_template %>

<br>

<div>
  <%= link_to "Show this hotspot template", @hotspot_template %> |
  <%= link_to "Back to hotspot templates", hotspot_templates_path %>
</div>
