<p style="color: green"><%= notice %></p>

<% content_for :title, "Hotspot templates" %>

<h1>Hotspot templates</h1>

<div id="hotspot_templates">
  <% @hotspot_templates.each do |hotspot_template| %>
    <%= render hotspot_template %>
    <p>
      <%= link_to "Show this hotspot template", hotspot_template %>
    </p>
  <% end %>
</div>

<%= link_to "New hotspot template", new_hotspot_template_path %>
