<p style="color: green"><%= notice %></p>

<% content_for :title, "Hotspot mpesa revenues" %>

<h1>Hotspot mpesa revenues</h1>

<div id="hotspot_mpesa_revenues">
  <% @hotspot_mpesa_revenues.each do |hotspot_mpesa_revenue| %>
    <%= render hotspot_mpesa_revenue %>
    <p>
      <%= link_to "Show this hotspot mpesa revenue", hotspot_mpesa_revenue %>
    </p>
  <% end %>
</div>

<%= link_to "New hotspot mpesa revenue", new_hotspot_mpesa_revenue_path %>
