<% content_for :title, "New hotspot mpesa revenue" %>

<h1>New hotspot mpesa revenue</h1>

<%= render "form", hotspot_mpesa_revenue: @hotspot_mpesa_revenue %>

<br>

<div>
  <%= link_to "Back to hotspot mpesa revenues", hotspot_mpesa_revenues_path %>
</div>
