<div id="<%= dom_id subscriber_wallet_balance %>">
  <p>
    <strong>Amount:</strong>
    <%= subscriber_wallet_balance.amount %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= subscriber_wallet_balance.account_id %>
  </p>

</div>
