<% content_for :title, "Editing subscriber wallet balance" %>

<h1>Editing subscriber wallet balance</h1>

<%= render "form", subscriber_wallet_balance: @subscriber_wallet_balance %>

<br>

<div>
  <%= link_to "Show this subscriber wallet balance", @subscriber_wallet_balance %> |
  <%= link_to "Back to subscriber wallet balances", subscriber_wallet_balances_path %>
</div>
