<p style="color: green"><%= notice %></p>

<% content_for :title, "Event titles" %>

<h1>Event titles</h1>

<div id="event_titles">
  <% @event_titles.each do |event_title| %>
    <%= render event_title %>
    <p>
      <%= link_to "Show this event title", event_title %>
    </p>
  <% end %>
</div>

<%= link_to "New event title", new_event_title_path %>
