<% content_for :title, "New hotspot setting" %>

<h1>New hotspot setting</h1>

<%= render "form", hotspot_setting: @hotspot_setting %>

<br>

<div>
  <%= link_to "Back to hotspot settings", hotspot_settings_path %>
</div>
