<% content_for :title, "Editing pp poe plan" %>

<h1>Editing pp poe plan</h1>

<%= render "form", pp_poe_plan: @pp_poe_plan %>

<br>

<div>
  <%= link_to "Show this pp poe plan", @pp_poe_plan %> |
  <%= link_to "Back to pp poe plans", pp_poe_plans_path %>
</div>
