<div id="<%= dom_id calendar_setting %>">
  <p>
    <strong>Start in hours:</strong>
    <%= calendar_setting.start_in_hours %>
  </p>

  <p>
    <strong>Start in minutes:</strong>
    <%= calendar_setting.start_in_minutes %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= calendar_setting.account_id %>
  </p>

</div>
