<% content_for :title, "New calendar setting" %>

<h1>New calendar setting</h1>

<%= render "form", calendar_setting: @calendar_setting %>

<br>

<div>
  <%= link_to "Back to calendar settings", calendar_settings_path %>
</div>
