<div id="<%= dom_id sms_template %>">
  <p>
    <strong>Send voucher template:</strong>
    <%= sms_template.send_voucher_template %>
  </p>

  <p>
    <strong>Voucher template:</strong>
    <%= sms_template.voucher_template %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= sms_template.account_id %>
  </p>

</div>
