<% content_for :title, "New sms template" %>

<h1>New sms template</h1>

<%= render "form", sms_template: @sms_template %>

<br>

<div>
  <%= link_to "Back to sms templates", sms_templates_path %>
</div>
