<h1>Editing system admin sm</h1>

<%= render "form", system_admin_sm: @system_admin_sm %>

<br>

<div>
  <%= link_to "Show this system admin sm", @system_admin_sm %> |
  <%= link_to "Back to system admin sms", system_admin_sms_path %>
</div>
