<% content_for :title, "New hotspot voucher" %>

<h1>New hotspot voucher</h1>

<%= render "form", hotspot_voucher: @hotspot_voucher %>

<br>

<div>
  <%= link_to "Back to hotspot vouchers", hotspot_vouchers_path %>
</div>
