<h1>Editing system admin</h1>

<%= render "form", system_admin: @system_admin %>

<br>

<div>
  <%= link_to "Show this system admin", @system_admin %> |
  <%= link_to "Back to system admins", system_admins_path %>
</div>
