<div id="<%= dom_id change_log %>">
  <p>
    <strong>Version:</strong>
    <%= change_log.version %>
  </p>

  <p>
    <strong>System changes:</strong>
    <%= change_log.system_changes %>
  </p>

  <p>
    <strong>Change title:</strong>
    <%= change_log.change_title %>
  </p>

</div>
