<% content_for :title, "New access point setting" %>

<h1>New access point setting</h1>

<%= render "form", access_point_setting: @access_point_setting %>

<br>

<div>
  <%= link_to "Back to access point settings", access_point_settings_path %>
</div>
