<h1>New system admin email setting</h1>

<%= render "form", system_admin_email_setting: @system_admin_email_setting %>

<br>

<div>
  <%= link_to "Back to system admin email settings", system_admin_email_settings_path %>
</div>
