<% content_for :title, "Editing hotspot and dial plan" %>

<h1>Editing hotspot and dial plan</h1>

<%= render "form", hotspot_and_dial_plan: @hotspot_and_dial_plan %>

<br>

<div>
  <%= link_to "Show this hotspot and dial plan", @hotspot_and_dial_plan %> |
  <%= link_to "Back to hotspot and dial plans", hotspot_and_dial_plans_path %>
</div>
