<p style="color: green"><%= notice %></p>

<h1>Sms</h1>

<div id="sms">
  <% @sms.each do |sm| %>
    <%= render sm %>
    <p>
      <%= link_to "Show this sm", sm %>
    </p>
  <% end %>
</div>

<%= link_to "New sm", new_sm_path %>
