<h1>Editing router setting</h1>

<%= render "form", router_setting: @router_setting %>

<br>

<div>
  <%= link_to "Show this router setting", @router_setting %> |
  <%= link_to "Back to router settings", router_settings_path %>
</div>
