<div id="<%= dom_id hotspot_plan %>">
  <p>
    <strong>Name:</strong>
    <%= hotspot_plan.name %>
  </p>

  <p>
    <strong>Hotspot subscribers:</strong>
    <%= hotspot_plan.hotspot_subscribers %>
  </p>

</div>
