<% content_for :title, "New isp subscription" %>

<h1>New isp subscription</h1>

<%= render "form", isp_subscription: @isp_subscription %>

<br>

<div>
  <%= link_to "Back to isp subscriptions", isp_subscriptions_path %>
</div>
