<h1>Editing system admin web authn credential</h1>

<%= render "form", system_admin_web_authn_credential: @system_admin_web_authn_credential %>

<br>

<div>
  <%= link_to "Show this system admin web authn credential", @system_admin_web_authn_credential %> |
  <%= link_to "Back to system admin web authn credentials", system_admin_web_authn_credentials_path %>
</div>
