<% content_for :title, "Editing dial up mpesa setting" %>

<h1>Editing dial up mpesa setting</h1>

<%= render "form", dial_up_mpesa_setting: @dial_up_mpesa_setting %>

<br>

<div>
  <%= link_to "Show this dial up mpesa setting", @dial_up_mpesa_setting %> |
  <%= link_to "Back to dial up mpesa settings", dial_up_mpesa_settings_path %>
</div>
