<% content_for :title, "New pp poe mpesa revenue" %>

<h1>New pp poe mpesa revenue</h1>

<%= render "form", pp_poe_mpesa_revenue: @pp_poe_mpesa_revenue %>

<br>

<div>
  <%= link_to "Back to pp poe mpesa revenues", pp_poe_mpesa_revenues_path %>
</div>
