<div id="<%= dom_id wireguard_peer %>">
  <p>
    <strong>Public key:</strong>
    <%= wireguard_peer.public_key %>
  </p>

  <p>
    <strong>Allowed ips:</strong>
    <%= wireguard_peer.allowed_ips %>
  </p>

  <p>
    <strong>Persistent keepalive:</strong>
    <%= wireguard_peer.persistent_keepalive %>
  </p>

</div>
