<div id="<%= dom_id hotspot_customization %>">
  <p>
    <strong>Customize template and package per location:</strong>
    <%= hotspot_customization.customize_template_and_package_per_location %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= hotspot_customization.account_id %>
  </p>

</div>
