<p style="color: green"><%= notice %></p>

<% content_for :title, "Hotspot customizations" %>

<h1>Hotspot customizations</h1>

<div id="hotspot_customizations">
  <% @hotspot_customizations.each do |hotspot_customization| %>
    <%= render hotspot_customization %>
    <p>
      <%= link_to "Show this hotspot customization", hotspot_customization %>
    </p>
  <% end %>
</div>

<%= link_to "New hotspot customization", new_hotspot_customization_path %>
