<% content_for :title, "Editing dial mpesa setting" %>

<h1>Editing dial mpesa setting</h1>

<%= render "form", dial_mpesa_setting: @dial_mpesa_setting %>

<br>

<div>
  <%= link_to "Show this dial mpesa setting", @dial_mpesa_setting %> |
  <%= link_to "Back to dial mpesa settings", dial_mpesa_settings_path %>
</div>
