<% content_for :title, "New dial mpesa setting" %>

<h1>New dial mpesa setting</h1>

<%= render "form", dial_mpesa_setting: @dial_mpesa_setting %>

<br>

<div>
  <%= link_to "Back to dial mpesa settings", dial_mpesa_settings_path %>
</div>
