<h1>Editing sms setting</h1>

<%= render "form", sms_setting: @sms_setting %>

<br>

<div>
  <%= link_to "Show this sms setting", @sms_setting %> |
  <%= link_to "Back to sms settings", sms_settings_path %>
</div>
